body{
    height: 100vh;
}

.container{
    min-height: calc(100vh - 50px);
    margin:-22px;
    padding:0;
}

form{
    margin:0 auto;
}

.foto_item{
    width: 150px;
    height: 200px;
    float:left;
    text-align: center;
    margin:10px;

}

.foto_item img{
    width: 150px;
}

td{
    vertical-align: middle !important;
}

.menu_pagination{
    width:100%;
    display: flex !important;
    justify-content: center;
}